.filmPicture{
    width:250px ;
    height:300px ;
    background-size: cover;
    border-radius: 10px;
}

.filmTitle{
    display: inherit;
    color: #f37846;
    font-weight: bold;
    font-size: 20px;
    width: 250px;
}